.become-teacher-wrapper{
    border-radius: 20px;
    background: linear-gradient(144deg, rgba(200,211,232,1) 0%, rgba(122,141,218,1) 100%);
    position: relative;
    padding: 50px;
}
.become-teacher-left{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.become-teacher-title{
    font-family: "ul-bold";
    font-size: 40px;
}
.become-teacher-desc{
    direction: rtl;
    font-family: "semi-bold";
    font-size: 24px;
    max-width: 700px;
}
.become-teacher-button{
    padding: 12px 21px;
    border-radius: 10px;
    font-family: "semi-bold";
    font-size: 20px;
}
.become-teacher-right{
    z-index: 2;
    margin-left: auto;
}
.becomebacgroundvector{
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}