.bluebutton{
    background-color: #5662AC;
    padding: 12px 0px;
    border-radius: 12px;
    font-family: "ye-bold";
    font-size: 16px;
    color: white;
    width: 100%;
}
.outlinebutton{
    background: transparent;
    padding: 12px 0px;
    border-radius: 12px;
    font-family: "ye-bold";
    font-size: 16px;
    color: #202635;
    border: 1px solid #202635;
    width: 100%;
}
.purplebutton{
    background: #5662AC;
    font-family: "ye-bold";
    font-size: 20px;
    color: white;
    padding: 10px 0px;
    border-radius: 8px;
}
.tag{
    padding: 7px 9px;
    background: #31365E;
    border-radius: 8px;
    font-family: "ye-bold";
    font-size: 14px;
    color: white;
}