@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@font-face {
    font-family: "bold";
    src: url("../assets/Fonts/Rokh-Bold.woff2");
}
@font-face {
    font-family: "regular";
    src: url("../assets/Fonts/Rokh-Regular.woff2");
}
@font-face {
    font-family: "semi-bold";
    src: url("../assets/Fonts/Rokh-SemiBold.woff2");
}
@font-face {
    font-family: "ex-bold";
    src: url("../assets/Fonts/Rokh-ExtraBold.woff2");
}
@font-face {
    font-family: "ul-bold";
    src: url("../assets/Fonts/Rokh-UltraBold.woff2");
}
@font-face {
    font-family: "ye-bold";
    src: url("../assets/Fonts/YekanBakh-Bold.woff2");
}
@font-face {
    font-family: "ye-regular";
    src: url("../assets/Fonts/YekanBakh-Regular.woff2");
}
@font-face {
    font-family: "ye-semibold";
    src: url("../assets/Fonts/YekanBakh-SemiBold.woff2");
}




body{
    overflow-x: hidden;
}
html{
    position: relative;
    overflow-x: hidden;
}
html::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Public/Images/background.png");
    z-index: -1;
}
.App{
    overflow: hidden;
}


/* container styles */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}



/* switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



/* toast styles */
.Toastify__toast-body{
  text-align: right;
  font-family: "ye-regular";
  font-size: 12px;
  color: black;
}