.home-hero-left{
    flex: 1;
}
.home-hero-right{
    flex: 1;
}
.home-hero-desc{
    font-family: "ex-bold";
    font-size: 48px;
    color: white;
    direction: rtl;
}
.home-hero-right img{
    object-fit: cover;
}
.home-hero-input{
    position: relative;
    max-width: 495px;
    margin-top: 20px;
}
.home-hero-input input{
    width: 100%;
    padding: 26px 35px;
    border-radius: 40px;
}
.home-hero-input input::placeholder{
    font-family: "semi-bold";
    font-size: 24px;
    color: #2B2F53;
}
.home-hero-input img{
    position: absolute;
    left: 12px;
    top: 10px;
}
.home-hero-vector{
    margin-top: 30px;
}