.slider-item{
    padding: 12px;
    border-radius: 20px;
}
.slider-item-image{
    max-width: 259px;
    max-height: 261px;
    overflow: hidden;
}
.slider-item-image img{
    object-fit: cover;
    width: 100%;
}
.slider-item-title{
    font-family: "bold";
    font-size: 16px;
    direction: rtl;
}
.slider-item-desc p{
    font-family: "semi-bold";
    font-size: 14px;
}
.slider-item-desc-items{
    border-bottom: 1px solid #F2F4FF;
}
.slider-item-footer-button p{
    padding: 6px 20px;
    border-radius: 14px;
    font-family: "bold";
    font-size: 16px;
}
.slider-item-footer-price p{
    direction: rtl;
    font-size: 20px;
    font-family: "bold";
}